@font-face {
    font-family: "Cubic_11";
    src: url("../font/Cubic_11.woff2") format('woff2');
}

@font-face {
    font-family: "NaikaiFont";
    src: url("../font/NaikaiFont.woff2") format('woff2');
}

/*@font-face {*/
/*    font-family: "NaikaiFont-Light";*/
/*    src: url("../font/NaikaiFont-Light.woff") format('woff');*/
/*}*/

html {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    border-radius: 7px 7px 0 0;
}

body {
    /*-webkit-app-region: drag;*/
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: "NaikaiFont", sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: transparent;
    border-radius: 7px;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}

.body-block{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95)
}

.toolbar{
    -webkit-app-region: drag;
    height: 22px;
    background-color: #646464;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 1px 0 #626262;
}

#zoom-out{
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    background-color: darkseagreen;
    border-radius: 50px;
}
#zoom-out:hover{
    background-color: #6e8f6e;
}

#close-app{
    -webkit-app-region: no-drag;
    width: 12px;
    height: 12px;
    margin: 0 7px;
    background-color: orangered;
    border-radius: 50px;
}
#close-app:hover{
    background-color: #d03900;
}

#add-todo-btn{
    -webkit-app-region: no-drag;
    margin: 16px 16px;
    width: auto;
    height: 8vh;
    min-height: 32px;
    max-height: 64px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
}

#todolist{
    margin: 8px 16px;
    width: auto;
    height: auto;
    max-height: 85vh;
    min-height: 10vh;
}

#item-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-b-item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    /*padding-left: 5px;*/
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
}

.todo-b-item > label{
    height: 100%;
    width: 15%;
    background-color: pink;
}

.todo-s-item{

}

.list-unstyled{
    margin: 8px 16px;
    width: auto;
    height: auto;
    max-height: 85vh;
    min-height: 10vh;
}

.btn{
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
    text-align: start;
}

button:focus{
    box-shadow: none!important;
}

.list-group-item{
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}

/*input{*/
/*    box-shadow: none!important;*/
/*}*/

/* Basic styling */

[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
    color: pink;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    transition: background 300ms;
    cursor: pointer;
}


/* Pseudo element for check styling */
[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */
[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}
