@font-face {
    font-family: "Cubic_11";
    src: url("../font/Cubic_11.woff2") format('woff2');
}

@font-face {
    font-family: "NaikaiFont";
    src: url("../font/NaikaiFont.woff2") format('woff2');
}

/*@font-face {*/
/*    font-family: "NaikaiFont-Light";*/
/*    src: url("../font/NaikaiFont-Light.woff") format('woff');*/
/*}*/

html {
    /*width: 100vw;*/
    width: 100%;
    /*height: 100vh;*/
    height: 100%;
    background-color: transparent;
    border-radius: 7px 7px 0 0;
}

body {
    /*-webkit-app-region: drag;*/
    margin: auto;
    width: 100vw;
    height: 100vh;
    font-family: "NaikaiFont", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 7px;
    -webkit-user-select: none; /* for Chrome、Safari */
}

.body-block {
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.toolbar {
    -webkit-app-region: drag;
    height: 28px;
    background-color: #646464;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px 0 #626262;
}

#zoom-out {
    /*縮小按鈕*/
    display: none;
    -webkit-app-region: no-drag;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    background-color: darkseagreen;
    border-radius: 50px;
}

#zoom-out:hover {
    background-color: #6e8f6e;
}

#close-app {
    -webkit-app-region: no-drag;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    background-color: orangered;
    border-radius: 50px;
}

#close-app:hover {
    background-color: #d03900;
}

#addFeatBtn {
    /*新增按鈕*/
    -webkit-app-region: no-drag;
    margin: 16px 16px;
    width: auto;
    height: 1.6rem;
    min-height: 32px;
    max-height: 64px;
    border-radius: 8px;
    border-width: 0.8px;
    border-style: dashed;
    border-color: #ffd6de;
}

#tudulist {
    /*列表區塊*/
    margin: 8px 16px;
    width: auto;
    height: auto;
    max-height: 85vh;
    min-height: 10vh;
}

.item-block {
    /*列表內容*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-box {
    /*列表內容*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tudu-g-item {
    /*群組物件*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    /*padding-left: 5px;*/
    border-radius: 8px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #ffd6de;
    background-color: transparent;
    box-shadow: 1px 1px 0 0 #ffd6de;
}

.collapse-block {
    margin-left: 5%;
}
.tudu-g-title{
    font-size: 16px;
}
.tudu-g-option{
    margin-right: 5%;
}

.dropdown-menu{
    /*更多選單*/
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #ffd6de;
}

.dropdown-item:hover{
    background-color: rgba(255, 214, 222, 0.5);
}

.tudu-item {
    /*群組物件*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    /*padding-left: 5px;*/
    border-radius: 8px;
    border-width: 0.7px;
    border-style: solid;
    border-color: #ffd6de;
    background-color: transparent;
    box-shadow: 1px 1px 0 0 #ffd6de;
}

.tudu-item-check{
    margin-left: 5%;
}

.tudu-item-title{
}
.tudu-item-option{
    margin-right: 5%;
}

/*.list-unstyled {*/
/*    margin: 8px 16px;*/
/*    width: auto;*/
/*    height: auto;*/
/*    max-height: 85vh;*/
/*    min-height: 10vh;*/
/*}*/

/*.btn {*/
/*    width: 100%;*/
/*    border-radius: 8px;*/
/*    border-width: 1px;*/
/*    border-style: solid;*/
/*    border-color: pink;*/
/*    text-align: start;*/
/*}*/

button:focus {
    box-shadow: none !important;
}

.btn-close span{
    width: 5px;
    height: 5px;
}

.modal-body > input {
    border-color: #ffd6de;
}

.modal-body > input:focus {
    /*box-shadow: none;*/
    box-shadow: 2px 2px 0 0 #ffd6de;
    border-color: #ffd6de;
}

.modal-btn-group{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.modal-btn-group > button{
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffd6de;
    border-radius: 50px;
    padding: 6px 18px;
    color: #5d5d5d;
}

.modal-btn-group > button:hover {
    /*background-color: #ffd6de;*/
    box-shadow: 2px 3px 0 0 #ffd6de;
}

.list-group-item {
    -webkit-user-select: none; /* for Chrome、Safari */
}

/* Basic styling */
[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
    color: #ffd6de;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    transition: background 300ms;
    cursor: pointer;
}


/* Pseudo element for check styling */
[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    /*box-shadow: inset 0 0 0 1px #CCD3D8;*/
    box-shadow: inset 0 0 0 0.7px #e0b9c1;
}


/* Checked */

[type=checkbox]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */
[type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}
