:root {
    --toolbarBg: #646464;
    --bgColor: #FFFFFFE6;
    --themeLightBG: #FFFFFFE6;
    /*addFeatBtn*/
    --addFeatBDColor: #FFD6DE;
    --addFeatBGColor: #00000000;
    /*group*/
    --groupItemBGColor: #FFFFFF4C;
    --groupItemBDColor: #FFD6DE;
    --groupItemBS: 1px 1px 0 0 #FFD6DE;
    /*memo*/
    --memoItemBGColor: #FFFFFF4C;
    --memoItemBDColor: #FFD6DE;
    --memoItemBS: 1px 1px 0 0 #FFD6DE;
    /*tudu*/
    --tuduItemBGColor: #FFFFFF4C;
    --tuduItemBDColor: #FFD6DE;
    --tuduItemBS: 1px 1px 0 0 #FFD6DE;
    /*dropdownMenu*/
    --dropdownBGColor: #FFFFFFCC;
    --dropdownBDColor: #FFD6DE;
    --dropdownHoverColor: #FFD6DE7F;
    --dropdownActiveColor: #FFD6DE7F;
    /*popover*/
    --popoverBDColor: #FFD6DE;
    --popoverBGColor: #FFFFFFCC;
    /*modal*/
    --modalInBDColor :#FFD6DE;
    --modalInFBDColor : #FFD6DE;
    --modalInFBS : 2px 2px 0 0 #FFD6DE;
    /*modalGroup*/
    --modalBtnGroupBGColor : #FFFFFF;
    --modalBtnGroupBDColor : #FFD6DE;
    --modalBtnGroupColor : #5D5D5D;
    --modalBtnGroupHoverBs : 2px 2px 0 0 #FFD6DE;
    /*check*/
    --checkColor : #FFD6DE;
    --checkBEBS: inset 0 0 0 0.7px #e0b9c1;
    /*radio*/
    --radioColor : #FFD6DE;
    --radioBEBS: inset 0 0 0 0.7px #e0b9c1;
    /*other*/
    --formSelectBDColor: #FFD6DE;
    --formSelectFBDColor : #FFD6DE;
    --formSelectFBS : 2px 2px 0 0 #FFD6DE;
}

/*新增的字型*/
@font-face {
    font-family: "Cubic_11";
    src: url("../font/Cubic_11.woff2") format('woff2');
}

@font-face {
    font-family: "NaikaiFont";
    src: url("../font/NaikaiFont.woff2") format('woff2');
}

@font-face {
    font-family: "NaikaiFontLight";
    src: url("../font/NaikaiFontLight.woff") format('woff');
}

@font-face {
    font-family: "GenJyuuGothic";
    src: url("../font/GenJyuuGothic.woff2") format('woff2');
}

@font-face {
    font-family: "NotoSansTC-Light";
    src: url("../font/NotoSansTC-Light.ttf");
}

@font-face {
    font-family: "NotoSansTC-Regular";
    src: url("../font/NotoSansTC-Regular.ttf");
}

html {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 7px 7px 0 0;
}

h6 {
    text-align: center;
}

body {
    /*-webkit-app-region: drag;*/
    margin: auto;
    width: 100vw;
    height: 100vh;
    font-family: "Cubic 11", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 7px;
    -webkit-user-select: none; /* for Chrome、Safari */
}

.body-block {
    border-radius: 0 0 8px 8px;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

.window-frame {
    -webkit-app-region: drag;
    height: 28px;
    background-color: var(--toolbarBg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px 0 #626262;
}

.window-frame-set-feat {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

#frameZoomOut {
    /*縮小按鈕*/
    display: none;
    -webkit-app-region: no-drag;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    background-color: darkseagreen;
    border-radius: 50px;
}

#frameZoomOut:hover {
    background-color: #6e8f6e;
}

#frameClose {
    /* 關閉按鈕 */
    -webkit-app-region: no-drag;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    background-color: orangered;
    border-radius: 50px;
}

#frameClose:hover {
    background-color: #d03900;
}

#frameSetting {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 6px;
    width: 14px;
}

#frameSetting > img {
    -webkit-user-drag: none;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

#frameSetting > img:hover {
    border-radius: 50px;
    transform: rotate(180deg);
}

#frameOnTop {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 6px;
}

#frameOnTop > img {
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

#frameOnTop > img:hover {
    border-radius: 50px;
    transform: rotate(45deg);
}

#addFeatBtn {
    /*新增按鈕*/
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*padding-left: 5%;*/
    gap: 5%;
    align-items: center;
    margin: 8px 16px;
    width: auto;
    height: 40px;
    border-radius: 8px;
    border-width: 0.08em;
    border-style: dashed;
    /*border-color: #ffd6de;*/
    border-color: var(--addFeatBDColor);
}

#addFeatBtn:hover {
    /*box-shadow: 1px 1px 1px 0 #ffd6de;*/
    border-radius: 8px;
    border-width: 0.12em;
    border-style: dashed;
    /*border-color: rgba(255, 214, 222, 0.3);*/
}


#tudulist {
    /*列表區塊*/
    margin: 8px 16px;
    width: auto;
    height: auto;
    max-height: 85vh;
    min-height: 10vh;
}

.item-block {
    /*列表內容*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-box {
    /*列表內容*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tudu-g-item {
    /*群組物件*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    /*padding-left: 5px;*/
    border-radius: 8px;
    border-width: 0.7px;
    border-style: solid;
    /*border-color: #ffd6de;*/
    border-color: var(--groupItemBDColor);
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: var(--groupItemBGColor);
    /*box-shadow: 1px 1px 0 0 #ffd6de;*/
    box-shadow: var(--groupItemBS);
}

.tudu-g-item > div {
    -webkit-user-drag: none;
}

.collapse-block {
    margin-left: 5%;
}


.tudu-g-title {
    font-size: 16px;
}

.tudu-g-option {
    margin-right: 5%;
}

.tudu-g-option > img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.dropdown-menu {
    /*更多選單.*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border-color: #ffd6de;*/
    background-color: var(--dropdownBGColor);
    border-color: var(--dropdownBDColor);
    -webkit-user-drag: none;
}

.dropdown-item:hover,
.dropdown-item:active {
    /*background-color: rgba(255, 214, 222, 0.5);*/
    background-color: var(--dropdownHoverColor);
}

.popover {
    /*.*/
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--popoverBDColor);
    background-color: var(--popoverBGColor);
}

.tudu-item {
    /*.*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: auto;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    /*border-color: #ffd6de;*/
    /*background-color: rgba(255, 255, 255, 0.3);*/
    /*box-shadow: 1px 1px 0 0 #ffd6de;    */
    border-color: var(--tuduItemBDColor);
    background-color: var(--tuduItemBGColor);
    box-shadow: var(--tuduItemBS);
}

.memo-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: auto;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--memoItemBDColor);
    background-color: var(--memoItemBGColor);
    box-shadow: var(--memoItemBS);
}

.memo-item > .memo-span {
    -webkit-user-drag: none;
    margin-left: 5%;
}

[class^="collapse-block-"] {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    gap: 5px;
}

.collapse-switch-box {
    -webkit-user-drag: none;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.collapse-switch-box > img {
    -webkit-user-drag: none;
}

/* 展開時的動畫 */
.rotated-show {
    transform: rotate(90deg);
}

/* 收合時的動畫 */
.rotated-hide {
    transform: rotate(0deg);
}


.tudu-item-check {
    -webkit-user-drag: none;
    margin-left: 5%;
}

[class^='tudu-item-title-'] {
    -webkit-user-drag: none;
    text-align: center;
}

.tudu-item-title, .memo-item-title {
    -webkit-user-drag: none;
    text-align: center;
}

.tudu-item-time {
    -webkit-user-drag: none;
    font-size: 13px;
}

.tudu-item-option, .memo-item-option {
    margin-right: 5%;
}

.tudu-item-option > img, memo-item-option > img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

button:focus {
    box-shadow: none !important;
}

.btn-close span {
    width: 5px;
    height: 5px;
}

#addFeatModal > div > div > .modal-body,
#addInItemModal > div > div > .modal-body,
#editMemoModal > div > div > .modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.modal-body > input {
    /*.*/
    /*border-color: #ffd6de;*/
    border-color: var(--modalInBDColor);
}

.modal-body > input:focus {
    /*.*/
    /*box-shadow: 2px 2px 0 0 #ffd6de;*/
    /*border-color: #ffd6de;   */
    box-shadow: var(--modalInFBS);
    border-color: var(--modalInBDColor);
}

.form-select {
    /*.*/
    /*border-color: #ffd6de;*/
    border-color: var(--formSelectBDColor);
}

.form-select:focus {
    /*.*/
    /*box-shadow: 2px 2px 0 0 #ffd6de;*/
    /*border-color: #ffd6de;*/
    box-shadow: var(--formSelectFBS);
    border-color: var(--formSelectFBDColor);
}

.modal-btn-group {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.modal-btn-group > button {
    background-color: var(--modalBtnGroupBGColor);
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--modalBtnGroupBDColor);
    border-radius: 50px;
    padding: 6px 18px;
    color: var(--modalBtnGroupColor);
}

.modal-btn-group > button:hover {
    box-shadow: var(--modalBtnGroupHoverBs);
}

.list-group-item {
    -webkit-user-select: none; /* for Chrome、Safari */
}

.modal-body-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.modal-body-option > .form-select {
    width: 70%;
}

.add-type-select-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 15px;
}

[type=radio]:focus {
    box-shadow: none !important;
}

/* Basic styling */
[type=checkbox], [type=radio] {
    -webkit-user-drag: none;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--checkColor);
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    transition: background 300ms;
    cursor: pointer;
}

/* Pseudo element for check styling */
[type=checkbox]::before, [type=radio]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    /*box-shadow: inset 0 0 0 1px #CCD3D8;*/
    /*box-shadow: inset 0 0 0 0.7px #e0b9c1;*/
    box-shadow: var(--checkBEBS);
}

[type=checkbox]:checked, [type=radio]:checked {
    background-color: currentcolor;
}

[type=checkbox]:checked::before, [type=radio]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* Disabled */
[type=checkbox]:disabled, [type=radio]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
}
