@font-face {
    font-face-name: "Cubic_11";
    src: url("./Cubic_11.woff2") format('woff2');
}

html {
    /*-webkit-app-region: drag;*/
    width: 100vw;
    height: 100vh;
    /*background-color: transparent;*/
}
.toolbar{
    height: 18px;
    background-color: gray;
    padding: 0 24px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.toolbar-zoom-out{
    width: 14px;
    height: 14px;
    background-color: darkseagreen;
    border-radius: 50px;

}
.toolbar-close{
    width: 14px;
    height: 14px;
    background-color: orangered;
    border-radius: 50px;
}

#addFeatBtn{
}

body {
    -webkit-app-region: drag;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: "Cubic 11", sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: transparent;*/
}

.feat-block{
    -webkit-app-region: no-drag;
    margin: 16px 16px;
    width: auto;
    height: 10vh;
    min-height: 32px;
    max-height: 64px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
}

.list-unstyled{
    margin: 8px 16px;
    width: auto;
    height: auto;
    max-height: 85vh;
    min-height: 10vh;
}

div > ul > li {
}

.btn{
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: pink;
    text-align: start;
}

button:focus{
    box-shadow: none!important;
}

.list-group-item{
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
}

input{
    box-shadow: none!important;
}
